// Font sizes
$font-header:40px;
$font-xxlarge:28px;
$font-xlarge:24px;
$font-large: 20px;
$font-medium: 16px;
$font-small: 12px;

// Font types
$header-font-stack: 'Vollkorn', sans-serif;

// Define some fonts for the page.
$header-font: $font-header $header-font-stack;