{% extends "base.html" %}

{% block body %}
<nav>
  <div class="content">
    <a href="/"><h3>M<strong>P</strong></h3></a>
    <h3 class="page-title">{% block title_text %}{% endblock %}</h3>
    <ul class="in-nav">
      <li><a href="https://github.com/mattpiccolella" target="_blank">Code</a></li>
      <li><a href="https://medium.com/@matthew_pic" target="_blank">Writing</a></li>
      <li><a href="/projects" {% block projects_class %}{% endblock %}>Projects</a></li>
      <li><a href="/talks" {% block talks_class %}{% endblock %}>Tech Talks</a></li>
    </ul>
  </div>
</nav>
{% block content %}
{% endblock content %}
{% endblock body %}