{% extends "frisk-base.html" %}

{% block head %}
<title>Visualization</title>
{% endblock %}

{% block body %}
  <div id="main">
    <h2>Stop and Frisk Across Time</h2>
    <div id="wrapper">
    </div>
    <button class="switch" id="linegraph-button" disabled><p>Line Graph</p></button>
    <button class="switch" id="calendar-button"><p>Heat Map</p></button>
  </div>
</div>
{% endblock %}

{% block jsbody %}
<script type="text/javascript" src="/static/js/frisk/calendar.js"></script>
{% endblock %}