{% extends "base.html" %}

{% block title %}
Matt Pic | Home
{% endblock %}

{% block body %}
<div class="wrapper">
  <h1><a href="/about">Matt <strong>Piccolella</strong> =</a></h1>
  <ul class="title-nav">
    <li><a href="https://github.com/mattpiccolella" target="_blank">Code</a></li>
    <li><a href="https://medium.com/@matthew_pic" target="_blank">Writing</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/talks">Tech Talks</a></li>
  </ul>
  <ul class="soc">
    <li><a class="soc-twitter" href="http://twitter.com/mattpiccolella" target="_blank"></a></li>
    <li><a class="soc-linkedin" href="http://linkedin.com/in/mattpiccolella" target="_blank"></a></li>
    <li><a class="soc-instagram" href="https://instagram.com/matthewpic/" target="_blank"></a></li>
    <li><a class="soc-angelist" href="https://angel.co/matt-piccolella" target="_blank"></a></li>
    <li><a class="soc-email1" href="mailto:mattpiccolella1@gmail.com" target="_blank"></a></li>
  </ul>
</div>
{% endblock %}