{% extends "frisk-base.html" %}

{% block head %}
<title>Visualization</title>
{% endblock %}

{% block body %}
  <div id="main" class="pure-g">
    <div id='chart' class="pure-u-1 pure-u-md-2-3 pure-u-lg-2-3">
      <h2>Crimes by People</h2>
      <svg style='height:600px;width:480px'> </svg>
    </div>
    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
      <h2>Options</h2>
      <label><input type="radio" value="days" checked />Day of the Week</label>
      <input type="radio" name="label" value="gender">Gender</input>
      <input type="radio" name="label" value="race">Race</input>
    </div>
  </div>
</div>
{% endblock %}

{% block jsbody %}
<script type="text/javascript" src="/static/js/frisk/piechart.js"></script>
{% endblock %}