{% extends "content.html" %}

{% block title %}
Matt Pic | Projects
{% endblock %}

{% block title_text %}
Projects
{% endblock %}

{% block projects_class %}
class="active"
{% endblock %}

{% block content %}
<div class="container">
  {% for project in projects %}
  <div class="talk">
    {% if project.link %}
    <a class="title" href="{{project.link}}"><span class="title">{{ project.title }}</span></a>
    {% else %}
    <span class="title">{{ project.title }}</span>
    {% endif %}
    <p>{{ project.description }}</p>
    <p>{{ project.built|safe }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
