{% extends "content.html" %}

{% block title %}
Matt Pic | Talks
{% endblock %}

{% block title_text %}
Tech Talks
{% endblock %}

{% block talks_class %}
class="active"
{% endblock %}

{% block content %}
<div class="container">
  {% for talk in talks %}
  <div class="talk">
    {% if talk.name %}
    <a class="title" href="/talks/{{ talk.name }}">
    {% else %}
    <a class="title" href="{{ talk.path }}">
    {% endif %}
      <span class="title">{{ talk.title }}</span>
      <p>{{ talk.subtitle }}</p>
      <p>{{ talk.date }}</p>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
